.search__btn {
  height: 54px;
  width: 104px;
  border: 2px solid #ff5252;
  padding: 0;
  color: #ff5252;
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  margin-left: 10px;
  font-size: 24px;
}

.search__btn:hover {
  transition: 0.3s;
  border: 2px solid #fe9292;
  color: #fe9292;
}

.search__btn:active {
  border: 2px solid #b00020;
  color: #b00020;
}
