.search__inp {
  text-align: center;
  width: 500px;
  height: 50px;
  font-size: 24px;
  border-radius: 20px;
  border: 2px solid #ff5252;
  outline: none;
  padding: 0;
}

.search__inp:hover {
  transition: 0.3s;
  border: 2px solid #fe9292;
}

.search__inp:focus {
  border: 2px solid #b00020;
}
